.taskCards {
  .container {
    padding: 0px 40px;
    .taskCardsClass {
      display: flex;
      justify-content: space-between;
      margin-top: 30px;
      grid-gap: 15px;

      .card {
        text-align: center;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        width: 200px;
        height: 120px;
        background: #e34e6e;
        border-radius: 100px 100px 20px 20px;
        padding: 10px 3px;

        .icon {
          width: 50px;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          background: #fef9e7;
        }
        .points {
          margin: 10px 0px;
          font-family: "Poppins", sans-serif;
          font-size: 16px;
          font-weight: 700;
          color: #ffff;
          display: flex;
          justify-content: space-around;
          align-items: center;
          grid-gap: 4px;
          span{
            font-size: 10px;
          }
        }
        .texts {
          color: #ffff;
          font-family: "Poppins", sans-serif;
          font-size: 16px;
          font-weight: 300;
        }
      }
      .card:nth-child(2) {
        background: #f6c737;
      }
      .card:nth-child(3) {
        background: #17ba83;
      }
    }
  }
}
